{% extends "base.html" %}

{% block content %}

{% if not created %}
<div style="margin-top: 30px;">
    <form action="." method="POST"> {% csrf_token %}
        <div style="margin-top: 30px;"><input type="text" name="title" placeholder="Title"></div>
        <div style="margin-top: 10px;"><textarea name="description" id="" cols="30" rows="10" placeholder="Description"></textarea></div>
        <button type="submit" style="margin-top: 10px;">Create</button>
    </form>
</div>
{% else %}

<a href="/drops/{{ object.id }}">{{ object.title }} - {{ object.description }}</a>

{% endif %}

{% endblock content%}