<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id="string-of-links">https://twitter.com/Cristiano https://discord.com/invite/pr2k55t https://telegram.me/realmadrid_13</p>

    <a id="tweeter" href="">tweeter</a>
    <a id="discord" href="">discord</a>
    <a id="telegram" href="">telegram</a>

    <script>
        const stringOfLinks = document.getElementById('string-of-links').textContent
        let socialLinks = []

        function stringToArray(stringOfLinks) {

        }
        function linksToHtmlLinks() {
            
        }
    </script>
</body>
</html>