{% extends "base.html" %}

{% block content %}
{% if not request.user.is_authenticated %}
<h1 style="color: #51a82e;">Login (9)</h1>
<div style="margin-top: 30px;">
    <form action="" method="POST"> {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" style="margin-top: 10px;">Login</button>
        <p>Need an account? Please, <a href="/register">Register</a></p>
    </form>
</div>
{% else %}
<p>You're already logged in. Would you like to <a href="/logout/">logout</a>!</p>
{% endif %}
{% endblock content%}