*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}

ul[class], ol[class] {
    margin: 0;
    padding: 0;
}

body {
    background: #282828;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}

a {
    color: #fff;
}

main {
    min-height: 80vh;
}

.site-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vh;
    top: 0;
    left: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    z-index: 100;
}

.logo {
    width: 15%;    
}

.menu {
    width: 30%;
}

.menu ul li {
    display: inline;
}

.menu a {
    color: #fff;
}

.search {
    width: 25%;
}

.login-out {
    width: 20%;
}

.login-out a {
    color: #fff;
}

.login-out ul li {
    display: inline;
}

.socials {
    width: 10%;
}

.site-footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vh;
    bottom: 0;
    left: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    z-index: 100;
}

.footer-logo{
    width: 50%;
}

.footer-socials {
    width: 50%;
}

.page-title {
    text-align: center;
    margin: 60px 0px;
}

.page-title h1 {
    font-weight: normal;
}

.grid-container-collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid-item img {
    width: 100%; 
}

.featured-collection img {
    width: 100%; 
}

.grid-item-3 {
    grid-row: span 2;
    grid-column: span 2;
}

.link-to-all {
    width: 100%;
    margin-top: 30px;
}

.link-to-all a {
    float: right;
    padding: 10px;
    font-size: 17px;
}

.grid-container-drop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.featured-drop, .anticipated, .favourite {
    grid-column: span 2;
}

.upcoming-drops-s {
    margin-bottom: 80px;
}

.footer-logo a {
    margin-left: 30px;
}

.footer-socials a {
    float: right;
    margin-right: 30px;
}

.logo a {
    margin-left: 30px;
}

.socials a {
    float: right;
    margin-right: 30px;
}

.featured-collection-card {
    position: relative;
    height: 100%;
    min-height: 550px;
    border: 1px solid #9CFC51;
    box-sizing: border-box;
    box-shadow: 3px 3px 7px 3px #423F24;
}
.featured-collection {
    height: 100%;
}
.featured-collection-name {
    text-align: center;
    font-size: 27px;
    margin: 40px 0;
}
.featured-collection-description {
    padding: 0 50px;
    color: #DBD9D9;
    font-family: 'Roboto', serif;
    text-align: justify;
}
.featured-collection-volume {
    padding: 0 50px;
    margin-top: 40px;
    margin-bottom: 15px;
    color: #9CFC51;
    font-size: 20px;
}
.featured-collection-added {
    padding: 0 50px;
    color: #CECECE;
}
.featured-collection-card-bottom {
    position: absolute;
    bottom: 50px;
}
.featured-collection-flag {
    background: #77cf33;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.featured-collection-flag p {
    padding: 7px;
    margin-bottom: 0;
}
.collection-card {
    position: relative;
    height: 100%;
    min-height: 350px;
    border: 1px solid #9CFC51;
    box-sizing: border-box;
    box-shadow: 3px 3px 7px 3px #423F24;
}
.collection-name {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
}
.collection-description {
    padding: 0 25px;
    font-size: 12px;
    color: #DBD9D9;
    font-family: 'Roboto', serif;
    text-align: justify;
}
.collection-volume {
    padding: 0 25px;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #9CFC51;
    font-size: 15px;
}
.collection-card-bottom {
    position: absolute;
    bottom: 25px;
}
.collection-added {
    padding: 0 25px;
    color: #CECECE;
    font-size: 10px;
}
.upcoming-drop-wrap, .featured-drop, .anticipated, .favourite {
    width: 100%;
    padding-top: 100%;
    position: relative;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #9CFC51;
    box-sizing: border-box;
    box-shadow: 3px 3px 7px 3px #423F24;
}
.upcoming-drop-card-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(4, 27, 0, 0.5);
    padding: 10px 0;
}
.drop-date-time {
    font-size: 10px;
}
.featured-drop-flag {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background: #77cf33;
    font-size: 18px;
    padding: 10px 0;
    
}
.featured-drop-flag p {
    margin-bottom: 0;
}