<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rargorand</title>

    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <style>
        .htmx-indicator {
            display: none;
        }
        .htmx-request .htmx-indicator {
            display: inline;
        }
        .htmx-inverted-indicator {
            display: inline;
        }
        .htmx-request .htmx-inverted-indicator {
            display: none;
        }
    </style>
</head>
<body>
    <form action="/drops/" method="GET">
        <input type="text" name="q">
        <button type="submit">Submit</button>
    </form>

    {% block content %}
    {% endblock content%}
</body>
</html>