{% extends "base.html" %}

{% block content %}

<div class="page-title">
    <h1>All Collections</h1>
</div>

<div class="row">
    <div class="all-collections-table">
        <table>
            <colgroup>
                <col span="1" class="number-col">
                <col span="1" class="collection-col">
                <col span="1" class="vol-col">
                <col span="1" class="weeklyvol-col">
                <col span="1" class="added-col">
            </colgroup>
            <tr>
                <th>#</th>
                <th>Collection</th>
                <th>Volume</th>
                <th>Volume (7d)</th>
                <th>Added</th>
            </tr>
            {% for x in object_list %}
            <tr>
                <td></td>
                {% if not request.user.is_authenticated or user.id != x.user.id %}
                <td><img src="{% if x.image %}{{ x.image.url }}{% endif %}" alt=""><a href="{{ x.get_single_collection_url }}">{{ x.name }}</a></td>
                {% else %}
                <td><img src="{% if x.image %}{{ x.image.url }}{% endif %}" alt=""><a href="{{ x.get_absolute_url }}">{{ x.name }}</a></td>
                {% endif %}
                <td>{{ x.volume }} ALGO</td>
                <td>{{ x.weeklyvolume }} ALGO</td>
                <td>{{ x.timestamp }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script>
    let table = document.getElementsByTagName('table')[0]
    let rows = table.getElementsByTagName('tr')
    let text = 'textContent' in document ? 'textContent' : 'innerText';

    for (let i = 0, len = rows.length; i < len; i++) {
        let k = i + 1;
        rows[k].children[0][text] = k;
    }
</script>

{% endblock content%}