{% extends "base.html" %}

{% block content %}
<section class="section-style new-collections">
    <div class="container">
        <div class="row">
            {% if request.user.is_authenticated %}
            <div class="col-5">
                Featured Collection
            </div>
            {% endif %}
            <div class="col-7">
                <div class="row">
                    <div class="col-12">New Collections</div>
                    <div class="col-6">New Col 1</div>
                    <div class="col-6">New Col 2</div>
                    <div class="col-6">New Col 3</div>
                    <div class="col-6">New Col 4</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">New Col 5</div>
            <div class="col-3">New Col 6</div>
            <div class="col-3">New Col 7</div>
            <div class="col-3">New Col 8</div>
        </div>
        <div class="row">
            <a href="{% url 'collections' %}">Explore All Collections -></a>
        </div>
    </div>
</section>

<section class="section-style upcoming-drops">
    <div class="container">
        <div class="row">
            <div class="col-4">Featured Drop</div>
            <div class="col-4">Most Unticipated</div>
            <div class="col-4">Future Favourite</div>
        </div>
        <div class="row">
            <div class="col-2">Drop 1</div>
            <div class="col-2">Drop 2</div>
            <div class="col-2">Drop 3</div>
            <div class="col-2">Drop 4</div>
            <div class="col-2">Drop 5</div>
            <div class="col-2">Drop 6</div>
        </div>
        <div class="row">
            <a href="{% url 'schedule' %}">Open Schedule -></a>
        </div>
    </div>
</section>

<section class="section-style top-collections">
    <div class="row">
        <h2>Top Collections</h2>
    </div>
    <div class="row">
        <div class="col-4">By 7 Day Volume</div>
        <div class="col-4">By Total Volume</div>
        <div class="col-4">By Owner Count</div>
    </div>
</section>

{% endblock content%}