{% extends "base.html" %}

{% block content %}

<style>
    
</style>

<section class="section-style new-collections-s">
    <div class="container">
        <div class="row">
            <div class="page-title">
                <h1>Newest Collections</h1>
            </div>
            <div class="grid-container-collection">
                <div class="grid-item-3 featured-collection">
                    {% for x in featured_collection %}
                        <div class="featured-collection-card">
                            <div class="featured-collection-flag" >
                                <p>Featured Collection</p>
                            </div>
                            {% if x.image %}
                            <img src="{{ x.image.url }}" alt="">
                            {% endif %}
                            <div class="featured-collection-name">{{ x.name }}</div>
                            <div class="featured-collection-description">{{ x.description }}</div>
                            <div class="featured-collection-card-bottom">
                                <div class="featured-collection-volume">Volume: {{ x.volume }} ALGO</div>
                                <div class="featured-collection-added">Added: {{ x.timestamp }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% for x in new_collections %}
                <div class="grid-item">
                    <div class="collection-card">
                        {% if x.image %}
                        <img src="{{ x.image.url }}" alt="">
                        {% endif %}
                        <div class="collection-name">{{ x.name }}</div>
                        <div class="collection-description">{{ x.description }}</div>
                        <div class="collection-card-bottom">
                            <div class="collection-volume">Volume:<br>{{ x.volume }} ALGO</div>
                            <div class="collection-added">Added: {{ x.timestamp }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="link-to-all">
                <a href="{% url 'ncollections:collections' %}">Explore All Collections -></a>
            </div>
        </div>
    </div>
</section>

<section class="section-style upcoming-drops-s">
    <div class="container">
        <div class="row">
            <div class="page-title">
                <h1>Upcoming Drops</h1>
            </div>
            <div class="grid-container-drop">
                {% for x in featured_drop %}
                {% if x.image %}
                <div class="featured-drop" style="background-image: url({{ x.image.url }});">
                    <div class="featured-drop-flag" >
                        <p>Featured Drop</p>
                    </div>
                    <div class="upcoming-drop-card-content">
                        <div class="drop-name">{{ x.name }}</div>
                        <div class="drop-date-time">{{ x.release_date }} - {{ x.release_time }}</div>
                    </div>
                </div> 
                {% endif %}
                {% endfor %}

                {% for x in most_anticipated %}
                {% if x.image %}
                <div class="anticipated" style="background-image: url({{ x.image.url }});">
                    <div class="featured-drop-flag" >
                        <p>Most Anticipated</p>
                    </div>
                    <div class="upcoming-drop-card-content">
                        <div class="drop-name">{{ x.name }}</div>
                        <div class="drop-date-time">{{ x.release_date }} - {{ x.release_time }}</div>
                    </div>
                </div> 
                {% endif %}
                {% endfor %}

                {% for x in future_favourite %}
                {% if x.image %}
                <div class="favourite" style="background-image: url({{ x.image.url }});">
                    <div class="featured-drop-flag" >
                        <p>Future Favourite</p>
                    </div>
                    <div class="upcoming-drop-card-content">
                        <div class="drop-name">{{ x.name }}</div>
                        <div class="drop-date-time">{{ x.release_date }} - {{ x.release_time }}</div>
                    </div>
                </div> 
                {% endif %}
                {% endfor %}
                
                
                {% for x in upcomming_drops %}
                <div class="upcoming-drop">
                    {% if x.image %}
                    <div class="upcoming-drop-wrap" style="background-image: url({{ x.image.url }});">
                    {% endif %}
                    <div class="upcoming-drop-card-content">
                        <div class="drop-name">{{ x.name }}</div>
                        <div class="drop-date-time">{{ x.release_date }} - {{ x.release_time }}</div>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="link-to-all">
                <a href="{% url 'schedule' %}">Open Schedule -></a>
            </div>
        </div>
    </div>
</section>
<!--
<section class="section-style top-collections">
    <div class="row">
        <div class="page-title">
            <h1>Top Collection</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">By 7 Day Volume</div>
        <div class="col-4">By Total Volume</div>
        <div class="col-4">By Owner Count</div>
    </div>
</section>
-->
{% endblock content%}